.menu-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-bar button{
    border-radius: 10px;
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
    

}

.menu-bar button:hover{
    background-color: grey;
}